body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2c2c2c, #aaaaaa);
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.login-box, .user-box {
    margin: 130px auto;
    width: 300px;
    padding: 25px;
    background: rgba(0,0,0,0.3);
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #333;
    color: #fff;
}

.logout {
    margin-top: 20px;
    background: red;
}

/* جدول الأدمن */
table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background: #ffffff15;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #fff;
}

/* صورة المستخدم */
.profile-area {
    margin: 20px 0;
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffffa8;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    transition: 0.4s ease;
}

.profile-img:hover {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0 0 40px rgba(255,255,255,0.5);
}

#uploadImg {
    margin-top: 10px;
    background: #00000060;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

#uploadImg:hover {
    background: #ffffff40;
}
img{
    width: 200px;
    height: auto;
    border-radius: 15px;
    justify-content: center;
}
